.icon {
  width: 32px; /* Set the desired width */
  height: 32px; /* Set the desired height */
}

.social-button {
  /* display: flex; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* margin: 10px; Adjust the margin as needed */
}
